#canvas_container 
{
	float:left;
	width:50%;
	text-align: center;
}

#buttons_container
{
	float:left;
	padding-left: 60px;
	padding-top: 10px;
	width: 45%;
}

.parameter_text
{
	width: 50px;
}

.parameter_slider
{
	width: 150px;
}

.hidden
{
	display:none;
}
